<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>microblog</title>
    </head>
    <body>
        <h1>Hello, !</h1>
        <form class="decor">
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
            <h3>Написать нам</h3>
            <input type="text" placeholder="Username">
            <input type="email" placeholder="Email">
            <textarea placeholder="Сообщение..." rows="3"></textarea>
            <input type="submit" value="Отправить">
            </div>
            </form>
    </body>
    </html>